extends layout.pug

block append head
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js')
    script(src='/javascripts/p5.js')
    script(src='/javascripts/index.js') 

block content
    div
     div(class='img-grid')
      img(id="img-container") 
    
     div(class='snap-gird')
      button(id='btn-snap') Snap